@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
ul {
  margin-bottom: 0;
}
p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}
img {
  width: 100%;
  overflow: hidden;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
::selection {
  background: #0071f8;
  color: #fff;
}
::-moz-selection {
  background: #0071f8;
  color: #fff;
}
.section {
  margin-top: 120px;
}
.section-heading {
  margin-bottom: 70px;
}
.section-heading h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
}

@media (max-width: 1200px) {
  .section-heading h2 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (max-width: 992px) {
  .section-heading h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 576px) {
  .section-heading h2 {
    font-size: 24px;
    line-height: 38px;
  }
}
.section-heading h2 em {
  font-style: normal;
  color: #13801f;
}
.section-heading h6 {
  color: #13801f;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
.icon-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 0;
  border-radius: 25px;
  transition: all 0.3s;
}
.icon-button a i {
  background-color: #1e6c39;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  display: inline-block;
  margin-right: 15px;
  margin-left: -1px;
}
.icon-button a:hover {
  color: #1e6c39;
}
.icon-button a:hover i {
  color: #fff;
}
.main-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  border-radius: 25px;
  transition: all 0.3s;
}
.main-button a:hover {
  background-color: #1e6c39;
  color: #fff;
}
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}
@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}
.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #fff0;
}
.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #1e6c39;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}
.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}
.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #1e6c39;
  border-radius: 50%;
}
.sub-header {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.sub-header ul li {
  display: inline-block;
}
.sub-header ul.social-links {
  text-align: right;
}
.sub-header ul.social-links li {
  margin-left: 8px;
}
.sub-header ul.social-links li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #cdcdcd;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s;
}
.sub-header ul.social-links li a:hover {
  background-color: #1e6c39;
}
.sub-header ul.info li {
  font-size: 14px;
  color: #7a7a7a;
  border-right: 1px solid #eee;
  margin-right: 25px;
  padding-right: 25px;
}
.sub-header ul.info li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.sub-header ul.info li i {
  font-size: 20px;
  color: #1e6c39;
  margin-right: 8px;
}
.background-header {
  background-color: #fff;
  height: 80px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.15) !important;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-area {
  position: relative;
  background-color: #fff;
  height: 100px;
  z-index: 500;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-area .main-nav {
  background: #fff0;
  display: flex;
}
.header-area .main-nav .logo {
  width: 150px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.header-area .main-nav .logo h1 {
  line-height: 100px;
  font-size: 28px;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 700;
  letter-spacing: 2px;
}
.background-header .main-nav .logo h1 {
  line-height: 80px;
}
.header-area .main-nav ul.nav {
  flex-basis: 100%;
  margin-top: 30px;
  justify-content: right;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
  border-radius: 2rem;
}
.logo-img {
  width: 220px;
  position: absolute;
  top: 40%;
}
@media (max-width: 1195px) {
  .logo-img {
    width: 156px;
    position: absolute;
    top: 40%;
  }
}
@media (max-width: 1100px) {
  .logo-img {
    top: 40%;
    left: 13%;
  }
}
@media (max-width: 430px) {
  .logo-img {
    width: 156px;
    position: absolute;
    top: 40%;
  }
}
.header-area .main-nav .nav li:last-child {
  padding-right: 0;
}
.header-area .main-nav .nav > li {
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  line-height: 100px;
}
.dropdown a {
  color: #000;
  line-height: 40px;
  border-radius: 1rem;
}
.dropdown ul {
  right: -3rem;
}
@media (max-width: 1300px) {
  .dropdown ul {
    right: 34%;
  }
}
@media (max-width: 1200px) {
  .dropdown ul {
    right: 30%;
  }
}
@media (max-width: 1100px) {
  .dropdown ul {
    right: 23%;
  }
}
@media (max-width: 900px) {
  .dropdown ul {
    right: 22%;
  }
}
@media (max-width: 768px) {
  .dropdown ul {
    right: 18%;
  }
}
@media (max-width: 600px) {
  .dropdown ul {
    right: 1rem;
  }
}

.header-area .main-nav .nav > li > a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1e1e1e;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: #fff0;
  letter-spacing: 0.25px;
}
.header-area .main-nav .nav > li:last-child a {
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  padding-left: 0;
}
.header-area .main-nav .nav li:last-child a i {
  background-color: #1e6c39;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: -1px;
}
.header-area .main-nav .nav > li:last-child:hover a {
  background-color: #1e1e1e;
}
.header-area .main-nav .nav li:last-child:hover a i {
  color: #fff;
}
.header-area .main-nav .nav li:hover > a {
  color: #1e6c39;
}
.header-area .main-nav .nav li a.active {
  color: #1e6c39;
}
.background-header .main-nav .nav li a.active {
  color: #1e6c39;
}
.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 5%;
  display: none;
}
.background-header .main-nav .menu-trigger {
  top: 22px;
}
.background-header .main-nav ul.nav {
  margin-top: 20px;
}
.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}
.header-area .main-nav .menu-trigger span {
  top: 16px;
}
.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}
.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: #fff0;
  width: 100%;
}
.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}
.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}
.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}
.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}
.visible {
  display: inline !important;
}
@media (max-width: 1300px) {
  .header-area .main-nav ul.nav {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  }

  .header-area .main-nav .nav li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-area .main-nav .logo h1 {
    line-height: 80px !important;
  }
  .header-area .main-nav .nav > li:last-child {
    display: none;
  }
  .background-header .main-nav {
    width: 100%;
  }
  .background-header .main-nav .nav,
  .header-area .main-nav .nav {
    background-color: #fff;
  }
  .background-header .main-nav .nav li a,
  .header-area .main-nav .nav li a {
    line-height: 50px;
    font-weight: 400;
    color: #1e1e1e;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
  }
  .background-header .main-nav .nav li,
  .header-area .main-nav .nav li {
    border-top: 1px solid #ddd;
    background-color: #f1f0fe;
    height: 50px;
    border-radius: 0 0 25px 25px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .background-header .main-nav .logo {
    top: 0;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #13801f !important;
    opacity: 1;
    border-radius: 2rem;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area .nav > li:last-child a {
    background-color: transparent !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  .header-area {
    padding: 0 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0;
  }
  .header-area .logo {
    margin-left: 0;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
    border-radius: 2rem;
  }
  .header-area.header-sticky .nav {
    margin-top: 80px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.main-banner .item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 20% 320px 20%;
  margin-top: 0;
  height: 50rem;
}
.main-banner .item-1 {
  background-image: url(../images/banner/1.jpg);
}
.main-banner .item-2 {
  background-image: url(../images/banner/2.jpg);
}
.main-banner .item-3 {
  background-image: url(../images/banner/3.jpg);
}
.main-banner .item-4 {
  background-image: url(../images/banner/4.jpg);
}
.main-banner .item span.category {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  margin-bottom: 30px;
}
.main-banner .item span.category em {
  font-style: normal;
  color: #1e6c39;
}
.main-banner .item h2 {
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 72px;
  width: 50%;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgb(0 0 0);
}
@media (max-width: 1600px) {
  .main-banner .item h2 {
    font-size: 50px;
    line-height: 60px;
    width: 60%;
  }
}
@media (max-width: 992px) {
  .main-banner .item h2 {
    font-size: 42px;
    line-height: 52px;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .main-banner .item h2 {
    font-size: 34px;
    line-height: 44px;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .main-banner .item h2 {
    font-size: 28px;
    line-height: 38px;
    width: 90%;
  }
}
.main-banner .owl-dots {
  position: absolute;
  bottom: 60px;
  left: 20%;
}
.main-banner .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.5s;
}
.main-banner .owl-dots .active {
  background-color: #1e6c39;
}
.main-banner .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50px);
}
.main-banner .owl-nav .owl-prev i,
.main-banner .owl-nav .owl-next i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  display: inline-block;
  color: #fff;
  background-color: rgb(255 255 255 / 0.2);
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s;
}
.main-banner .owl-nav .owl-prev i {
  position: absolute;
  left: 45px;
}
.main-banner .owl-nav .owl-next i {
  position: absolute;
  right: 45px;
}
.main-banner .owl-nav .owl-prev i:hover,
.main-banner .owl-nav .owl-next i:hover {
  opacity: 1;
  background-color: rgb(255 255 255 / 0.5);
}
.featured .left-image {
  position: relative;
}
.featured .left-image img {
  padding-left: 55px;
}
.featured .left-image a {
  display: inline-block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  background-color: #1e6c39;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -55px;
}
.featured .section-heading {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
.featured .section-heading h2 {
  width: 70%;
}
.featured .accordion {
  margin-left: 10px;
  margin-right: 10px;
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-border-color: none;
  border: none !important;
}
.featured .accordion-header {
  border-bottom: 1px solid #eaeaea;
}
.featured .accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}
.featured .accordion-button:not(.collapsed) {
  color: #1e6c39;
  background-color: #fafafa;
  outline: none;
}
.featured .accordion-button::after {
  display: none;
}
.featured #headingThree {
  border-bottom: none;
}
.featured .accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;
}
.featured .info-table {
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
}
.featured .info-table ul li {
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}
.featured .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.featured .info-table ul li img {
  float: left;
  margin-right: 25px;
}
.featured .info-table ul li h4 {
  font-size: 22px;
  font-weight: 600;
}
.featured .info-table ul li h4 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}
.contact {
  background-image: url(../images/lienhe/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0 250px 0;
  position: relative;
}
.contact .section-heading h2 {
  color: #fff;
}
.contact-content {
  margin-top: -240px;
  position: relative;
  z-index: 1;
}
.contact-content #map {
  border-radius: 10px;
  margin-bottom: 60px;
}
.contact-content .item {
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
  background-color: #fff;
}
.contact-content .phone {
  margin-right: 15px;
}
.contact-content .email {
  margin-left: 15px;
}
.contact-content .item img {
  float: left;
  margin-right: 25px;
  vertical-align: middle;
}
.contact-content .item h6 {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}
.contact-content .item h6 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}
.contact-content #contact-form {
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
  background-color: #fff;
}
.contact-content #contact-form label {
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.contact-content #contact-form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0 15px;
}
.contact-content #contact-form textarea {
  width: 100%;
  height: 150px;
  max-height: 180px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 15px 15px;
}
.contact-content #contact-form button {
  background-color: #1e1e1e;
  height: 44px;
  border-radius: 22px;
  padding: 0 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.contact-content #contact-form button:hover {
  background-color: #1e6c39;
}
.gtcotloi img {
  width: 70px;
  height: 70px;
}
.page-heading {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
}
.page-heading span {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 0.5rem;
}
.page-heading span a {
  color: #1e1e1e;
}
.page-heading h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .page-heading h3 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .page-heading h3 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .page-heading h3 {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .page-heading h3 {
    font-size: 28px;
  }
}
.properties ul.properties-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}
.properties ul.properties-filter li {
  display: inline-block;
  margin: 5px 8px;
}
.properties ul.properties-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all 0.3s;
}
.properties ul.properties-filter li a.is_active {
  background-color: #1e6c39;
  color: #fff;
}
.properties ul.properties-filter li a.is_active:hover {
  color: #fff;
}
.properties ul.properties-filter li a:hover {
  color: #1e6c39;
}
.properties ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.properties ul.pagination li {
  display: inline-block;
  margin: 0 5px;
}
.properties ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all 0.3s;
}
.properties ul.pagination li a:hover,
.properties ul.pagination li a.is_active {
  background-color: #1e6c39;
  color: #fff;
}
.single-property .main-image img {
  float: none;
}
.collapse {
  visibility: inherit !important;
}
.objectfitcover {
  object-fit: cover;
}
.about-image img {
  width: 80%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}
.single-property .main-content h4 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}
.single-property .main-content span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 40px;
}
.single-property .accordion {
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa;
  --bs-accordion-border-color: none;
  border: none !important;
}
.single-property .accordion-header {
  border-bottom: 1px solid #eaeaea;
}
.single-property .accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #1e1e1e;
}
.single-property .accordion-button:not(.collapsed) {
  color: #1e6c39;
  background-color: #fafafa;
  outline: none;
}
.single-property .accordion-button::after {
  display: none;
}
.single-property #headingThree {
  border-bottom: none;
}
.single-property .accordion-item:last-of-type .accordion-collapse {
  border-top: 1px solid #eaeaea;
}
.single-property .info-table {
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
  margin-left: 60px;
}
.single-property .info-table ul li {
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}
.single-property .info-table ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.single-property .info-table ul li img {
  float: left;
  margin-right: 25px;
}
.single-property .info-table ul li h4 {
  font-size: 22px;
  font-weight: 600;
}
.single-property .info-table ul li h4 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}
.contact-page #map {
  margin-top: 100px;
}
.contact-page .section-heading {
  margin-bottom: 40px;
  margin-right: 280px;
}
.contact-page p {
  margin-bottom: 50px;
}
.contact-page .item {
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
  background-color: #fff;
  display: inline-block;
  min-width: 360px;
  width: 80%;
}
@media (max-width: 990px) {
  .contact-page .item {
    width: 100%;
  }
}
.contact-page .phone {
  margin-bottom: 30px;
}
.contact-page .item img {
  float: left;
  margin-right: 25px;
  vertical-align: middle;
}
.contact-page .item h6 {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}
.contact-page .item h6 span {
  font-size: 15px;
  color: #aaa;
  font-weight: 400;
}
.contact-page #contact-form {
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.15);
  padding: 35px 30px;
  background-color: #fff;
}
.contact-page #contact-form label {
  font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.contact-page #contact-form input {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  border: none;
  margin-bottom: 30px;
  font-size: 14px;
  padding: 0 15px;
}
.contact-page #contact-form textarea {
  width: 100%;
  height: 150px;
  max-height: 180px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 15px 15px;
}
.contact-page #contact-form button {
  background-color: #1e1e1e;
  height: 44px;
  border-radius: 22px;
  padding: 0 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.contact-page #contact-form button:hover {
  background-color: #1e6c39;
}
body {
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .sub-header {
    display: none;
  }
  .header-area .main-nav .logo h1 {
    line-height: 100px;
  }
  .background-header .main-nav .logo h1 {
    line-height: 80px;
  }
  .header-area .main-nav .nav li a {
    padding-left: 3px;
    padding-right: 3px;
  }
  .header-area .main-nav .nav li:last-child a {
    padding-right: 15px;
  }
  .main-banner .item h2 {
    width: 100%;
  }
  .contact-content .phone {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contact-content .email {
    margin-left: 0;
    margin-bottom: 45px;
  }
  .contact-content #contact-form {
    margin-left: 0;
  }
  .single-property .info-table {
    margin-left: 0;
    margin-top: 45px;
  }
  .contact-page .section-heading {
    margin-right: 0px !important;
  }
  .contact-page #contact-form {
    margin-left: 0;
    margin-top: 60px;
  }
}
@media (max-width: 1200px) {
  .contact-page .section-heading {
    margin-right: 100px;
  }
}
